<h2>クラブ一覧</h2>
<%= link_to "クラブ作成", new_club_path %>
<% @clubs.each do |club| %>
  <ul>
    <li class="club">クラブ名：
      <%= link_to club_path(club.id) do %>
        <%= club.club_name %>
      <% end %>
    </li>
  </ul>
<% end %>
