<h2>ユーザー一覧</h2>

<table>
  <thead>
    <th>ユーザー名</th>
    <th>獲得ポイント</th>
  </thead>
    <% @ranking.each do |rank| %>
      <tbody>
        <td>
          <%= link_to user_path(rank[:id]) do %>
            <%= rank[:name] %>
          <% end %>
        </td>
        <td><%= rank[:point] %></td>
      </tbody>
    <% end %>
</table>