<h2>大会一覧</h2>
<%= link_to "大会作成", new_event_path %>
<% @events.each do |event| %>
<ul>
  <li class="event">大会名：
    <%= link_to event_path(event.id) do %>
      <%= event.event %>
    <% end %>
  </li>
</ul>
<% end %>
