<h2>メンバー権限変更</h2>
<%= @club_menber.user.email %>
<%= form_with(model: [:club, @club_menber], local: true) do |f| %>
  <%= f.select :status, ClubMenber.statuses.keys.to_a, {} %>
  <%= f.submit "変更する" %>
<% end %>