<div class="member-index">
  <div class="member-header">
    <h2>メンバー一覧</h2>
  </div>
  <table class="member-table">
    <tr>
      <td>ユーザー名</td>
      <td>クラブ内権限</td>
      <td></td>
    </tr>
    <% @club_menbers.each do |menber| %>
      <% if menber.status_before_type_cast <= 10 %>
      <% else %>
        <tr>
          <td>
            <%= link_to user_path(id: menber.user_id) do %>
              <%= menber.user.email %>
            <% end %>
          </td>
          <td>
            <%= menber.status_i18n %>
          </td>
          <td>
            <% if current_user.club_menbers.find_by(club_id: params[:club_id]).status_before_type_cast == 1000 %>
              <%= link_to "ユーザー権限を変更する", edit_club_club_menber_path(id: menber.id) %>
            <% else %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
