/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

body {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align: baseline;
}



#global-header {
  width: 100%;
  height: 60px;
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: black;
}


#global-header_inner {
  height: 60px;
  display: flex;
}

#global-header_menu {
  vertical-align: center;
  display: flex;
  justify-content: flex-end;
}

#global-header_items {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

#global-header_item {
  padding-right: 20px;
  color: white;
  height: 60px;
}

.main {
  background-color: orange;
  height: 2000px;
}
