// Place all the styles related to the clubs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

club_card {
  background-image: url("/assets/shutterstock_247751584.jpg");
  background-color: rbga(0,0,0,0.2);
  width: 100px;
  height: 100px;
}

.card-body .card-title {
  color:#808080;
  line-spacing: 0.5em !important;
}

.card-body .card-text {
  color:#808080;
  line-spacing: 0.5em !important;
}

.card-title  a {
  text-decoration: none;
  color: orange;
}

.club-show {
  width: 80%;
  margin: 20px auto;
}

.club-header {
  width: 100%;
  height: 60px;
  margin:0 auto 20px;
  background-color:white;
  color: orange;
  border-top: 1px solid orange;
  border-bottom: 1px solid orange;
}

.club-header h2 {
  height: 60px;
  line-height: 60px;
  float: left;
}

.admin-menu {
  height: 60px;
  line-height: 60px;
  float: left;
}

.admin-menu a {
  margin-left: 20px;
}

.chat-button {
  float: right;
  display: inline-block;
  margin-right: 20px;
  line-height: 60px;
}

.chat-button p {
  margin-bottom: 0;
  font-weight: bold;
}
.chat-button a {
  text-decoration: none;
}

.chat-button p:hover {
  background-color: orange;
  color: white;
}

.request-button {
  float: right;
  display: inline-block;
  margin-right: 20px;
  line-height: 60px;
}

.request:hover {
  background-color: orange;
  color: white;
}

.block {
  background-color: red;
  color: white;
  font-weight: bold;
}

.request-done {
  color: black;
  font-weight: bold;
}

.joined {
  color: #ff80bf;
  font-weight: bold;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.club-table{
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}

.club-table tr{
  border-bottom: solid 2px white;
}

.club-table tr:last-child{
  border-bottom: none;
}

.club-table th{
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #ffb366;
  color: white;
  text-align: center;
  padding: 10px 0;
  vertical-align: middle;
}

.club-table .club-th:after{
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top:calc(50% - 10px);
  right:-10px;
  border-left: 10px solid #ffb366;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.club-table td{
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: #eee;
  padding: 10px 0;
}

td .member-link {
  text-align: right;
}

.form-header {
  text-align: center;
}

