// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
video {
  position: relative;
  z-index: -100;
}

.box {
}
.login_form{
  width:300px;
  margin:-700px auto 0 auto;
  background-color: rgba( 0, 0, 0, 0.6);
  border-radius: 20px;
  border: solid 1px orange;
}

.login_form{
  padding: 20px;
  color:orange;
  text-align: center;
}

.login-button {
  color: orange;
}

span {
  color: white;
}

.wrap{
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}
 
.clearfix:after{
  content:"";
  clear: both;
  display: block;
}
 
#tab-menu li {
  float: left;
  list-style-type: none;
  width: 50%;
}
 
#tab-menu a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
  background: #000;
  border: 1px solid #000;
  border-bottom: 1px solid #000;
}
 
#tab-menu .active {
  background: #fff;
  color: orange;
}
 
#tab-contents .tab {
  padding: 30px;
  background: #fff;
  border: 1px solid #000;
  border-top: none;
}
 
#tab-contents p{
  color:#000;
  line-height: 2.5;
}