// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.box {
  margin: 0;
  padding: 0 ;
  position: relative;
  height: 800px;
  background-image: image-url("NIS19311035.jpg");
  background-size: cover;
}
.login_form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 40px;
  background-color: rgba( 0, 0, 0, 0.6);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: solid 1px orange;
}

.login_form h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login_form .field {
  position: relative;
}

.login_form .field input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid #fff;
}

.login_form .field label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  pointer-events: none;
  transition: 0.5s;
}

.login_form .field input:focus ~ label,
 {
  top: -18px;
  left: 0;
  color: orange;
  font-size: 12px;
}

.login_form input[type="submit"] {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  background: #ffb366;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.login-button {
  color: orange;
}

span {
  color: white;
}

.wrap{
  width: 90%;
  max-width: 900px;
  margin: 20px auto;
}

.clearfix:after{
  content:"";
  clear: both;
  display: block;
}


.user-show{
  width: 80%;
  margin: 20px auto;
}

.user-header {
  width: 100%;
  height: 60px;
  margin:0 auto 20px;
  background-color:white;
  color: orange;
  border-top: 1px solid orange;
  border-bottom: 1px solid orange;
}

.user-header h2 {
  height: 60px;
  line-height: 60px;
  float: left;
}

.user-menu {
  height: 60px;
  line-height: 60px;
  float: left;
  margin-left: 20px;
  font-weight: bold;
}

.user-menu:hover {
  background-color: orange;
}

.new_room {
  height: 60px;
}

.user-menu input {
  appearance: none;
  border: none;
  margin-bottom: 0;
  font-weight: bold;
}

.user-menu input:hover {
  cursor: select;
  background-color: orange;
  color: white;
}

#tab-menu li {
  float: left;
  list-style-type: none;
  width: 50%;
}

#tab-menu a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
  background: #000;
  border: 1px solid #000;
  border-bottom: 1px solid #000;
}

#tab-menu .active {
  background: #fff;
  color: orange;
}

#tab-contents .tab {
  padding: 30px;
  background: #fff;
  border: 1px solid #000;
  border-top: none;
}

#tab-contents p{
  color:#000;
  line-height: 2.5;
}


.user-table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

.user-table tr{
  border-bottom: solid 2px white;
}

.user-table tr:last-child{
  border-bottom: none;
}

.user-table th{
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #ffb366;
  color: white;
  text-align: center;
  padding: 10px 0;
  vertical-align: middle;
}

.user-table .user-th:after{
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top:calc(50% - 10px);
  right:-10px;
  border-left: 10px solid #ffb366;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.user-table td{
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: #eee;
  padding: 10px 0;
}

.chart-header h3 {
  float: left;
  height: 50px;
  line-height: 50px;
}

.chart-header a {
  float: left;
  height: 50px;
  line-height: 50px;
  margin-left: 20px;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.horizontal-list {
  width: 80%;
  margin: 0 auto;
  white-space: nowrap;
  overflow: scroll;
  display: flex;

}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  margin: 16px;
  text-align: center;
  background-color: orange;
  border-radius: 50%;
}

.item p {
  color: white;
  font-weight: bold;
}

.entry-index {
  width: 80%;
  margin: 20px auto;
}

.entry-table {
  width: 80%;
  border-collapse: collapse;
  border-right: 1px solid #999;
  margin: 0 auto;
}

.entry-table th{
  padding: 6px;
  text-align: left;
  vertical-align: top;
  color: #fff;
  background-color: #555;
  border-left: 5px solid #ff6633;
  border-top: 1px solid #fff;
}

.entry-table td{
  padding: 6px;
  background-color: #fff;
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
  text-align: center;
}